In [1]:
import pandas as pd
import glob
import requests
import json
import os

In [3]:
file_path = 'data\MV sem HMS HMC FSC.xlsx'

<>:1: SyntaxWarning: invalid escape sequence '\M'
<>:1: SyntaxWarning: invalid escape sequence '\M'
C:\Users\c29153\AppData\Local\Temp\ipykernel_14368\2447735123.py:1: SyntaxWarning: invalid escape sequence '\M'
  file_path = 'data\MV sem HMS HMC FSC.xlsx'

In [7]:
df2 = pd.read_excel(file_path)

In [22]:
df2.iloc[3, 5]

'Quantidade de usuários MV por setor'

In [5]:
dfo = pd.read_excel(file_path, skiprows=8)
df = dfo.iloc[:, :6]
df.head()

,EMPRESA,COD_SETOR,CENTRO_CUSTO,SETOR,BASE,DISTRIBUICAO (%)
0,01 - MATRIZ - SCMBA,3.0,11.001,GERENCIA DE COMUNICACAO CORPORATIVA,5,0.001022
1,01 - MATRIZ - SCMBA,5.0,11.010,SECRETARIA GERAL - ADM CENTRAL,1,0.000204
2,01 - MATRIZ - SCMBA,7.0,11.013,PROVEDORIA,1,0.000204
3,01 - MATRIZ - SCMBA,11.0,11.019,GERENCIA DE CAPTACAO DE RECURSOS,2,0.000409
4,01 - MATRIZ - SCMBA,13.0,12.001,SUPERINTENDENCIA DE SERVICOS CORPORATIVOS,3,0.000613

In [6]:
df.tail()

,EMPRESA,COD_SETOR,CENTRO_CUSTO,SETOR,BASE,DISTRIBUICAO (%)
191,07 - PATRIMONIO CULTURAL,546.0,14.005,CENTRO DE MEMORIA JORGE CALMOM,1,0.000204
192,07 - PATRIMONIO CULTURAL,547.0,14.007,MUSEU DA MISERICORDIA,3,0.000613
193,10 - CENTRAL DE DOACOES,649.0,17.001,TELE DOACAO,1,0.000204
194,15 - CASA DA LADEIRA,1311.0,30.001,ACOLH INFAN JUVENIL - P CONTAS,3,0.000613
195,Total,NaN,195.000,NaN,4894,1.000000

In [6]:
# Converter o dataframe para JSON
dados_json = df.to_json(orient='records')

In [7]:
## arquivos_excel = glob.glob(f'{pasta}/*.xlsx')

# Loop sobre cada arquivo na pasta
#for caminho_arquivo in arquivos_excel:
    # Extrair o nome do arquivo
    #arquivo = caminho_arquivo.split('/')[-1]
    
    # Ler o arquivo Excel
    #df = pd.read_excel(caminho_arquivo, skiprows=8)
    #df = df.iloc[:, :6]
    
    # Converter o dataframe para JSON
    #dados_json = df.to_json(orient='records')
    
    # Enviar a requisição POST
    #response = requests.post(url, data=dados_json, headers=headers)
    
    # Verificar o status da requisição
    #if response.status_code == 200:
        #print(f"Dados do arquivo {arquivo} enviados com sucesso!")
    #else:
        #print(f"Falha ao enviar os dados do arquivo {arquivo}. Código de status: {response.status_code}")
        #print("Resposta da API:", response.text)